**/target
agent
server

# Ignore built database drivers
nbcode

# Ignore NB IDE custom files
buildagent/nbactions.xml
buildagent/nb-configuration.xml
buildagent/nbproject

# Ignore POM processing byproducts
buildagent/dependency-reduced-pom.xml
