*.pyc
**/dist
**/out
**/node_modules
**/.vscode-test/
**/*.vsix
package-lock.json
/mxbuild
/.project
.DS_Store
.gitignore
/nbcode-graalvm/nbcode-graalvm-ojdbc/target/
/graalvm/nbcode/
/gcn-database-drivers/nbcode
/nbcode-gcn-database/nbcode-gcn-database-drivers/target/
/oci-devops/fixtures/base-oci-template/oci/bin/
