common : {
  timelimit : "30:00",
  catch_files : [
    "Graal diagnostic output saved in (?P<filename>.+\.zip)"
  ],
  environment: {
    npm_config_registry: "https://artifacthub-phx.oci.oraclecorp.com/api/npm/npm-virtual/"
  }
}

linux_jdk17 : {
  capabilities : [linux, amd64],
  downloads: {
    JAVA_HOME: { name: "graalvm-ee", version: "java17", platformspecific: true }
  },
  environment: {
    PATH: "${JAVA_HOME}/bin:${PATH}"
  }
}
  
linux : ${common} {
  packages: {
    nodejs : ">=18.0.0"
    maven: ">=3.6.3"
  }
}

darwin : ${common} {
}

windows : ${common} {
}

linux-amd64 : ${linux} {
  capabilities : [linux, amd64],
  docker: {
    "image" : "phx.ocir.io/oraclelabs2/c_graal/buildslave:buildslave_ol9",
    "mount_modules": true
  }
}

darwin-amd64 : ${darwin} {
  capabilities : [darwin, amd64]
}

windows-amd64 : ${windows} {
  capabilities : [windows, amd64]
}

vscodeCommon: {
  timelimit : "30:00"
}

vscodeBuildGate : ${vscodeCommon} {
  targets : [ gate ],
  run : [
    [ "ls", "-l", "/cm/shared/apps" ],
    [ "ls", "-l", "/cm/shared/apps/nodejs"],
    [ "ls", "-l", "/cm/shared/apps/nodejs/20.13.1"],
    [ "ls", "-l", "/cm/shared/apps/nodejs/20.13.1/bin"],
    ["npm", "run", "build"]
  ]
}

vscodeTestsCommon : ${vscodeCommon} {
  deploysArtifacts: true,
  python_version: 3,
  run : [
    ["artifact_download", "vscode-extensions/tests_cache-linux-amd64", "tests_cache-linux-amd64.zip"],
    ["unzip", "-q", "tests_cache-linux-amd64.zip", ".vscode-test/*", "-d", "gcn"],
    ["chmod", "-R", "+x", "./gcn/.vscode-test"],
    ["npm", "run", "tests"]
  ]
}

vscodeRunTests : ${vscodeTestsCommon} {
  targets : [ gate ],
}


vscodeTestsDaily : ${vscodeTestsCommon} {
  targets : [ daily ],
  environment: {
    EXTESTER_EXTENSION_LIST: "asf.apache-netbeans-java,vscjava.vscode-java-pack,oracle-labs-graalvm.gcn,oracle-labs-graalvm.graalvm,oracle-labs-graalvm.oci-devops",
    TEST_GLOB_PATTER: "**/extension.test.js",
    MOCHA_EXTENSION_LIST: "asf.apache-netbeans-java,redhat.java,vscjava.vscode-java-pack,vscjava.vscode-java-debug,ms-kubernetes-tools.vscode-kubernetes-tools"
  },
  run: [
    ["npm", "run", "tests:oci-devops"],
    ["npm", "run", "tests-ui"]
  ],
  notify_emails: [
    "martin.balin@oracle.com"
  ]
}

builds += [
#  ${linux-amd64} ${vscodeRunTests} { name: "gate-vscode-tests" },
#  ${linux-amd64} ${vscodeTestsDaily} { name: "daily-vscode-tests" },
  ${linux-amd64} ${linux_jdk17} ${vscodeBuildGate} { name: "gate-vscode-build" }
]
